.grid_12.content
	%p 
		Make Something
		= @path
		= link_to "New", @path
	.nothing
		- @comments.each do |c|
			%p
				= c.title |
				= link_to 'Destroy', c, :method => 'delete'
				|
				= link_to 'Edit', edit_comment_path(c)
				|
				= link_to 'Show', comment_path(c)
		
.clear