.span-22.prepend-1.append-1.last
	%h1
		Comment on 
		= link_to @thing.title, @thing_path
	%p
		%b
			= @comment.title
		%br
		= @comment.body
	-if current_user == @comment.user_id or current_user.admin
		%p
			= link_to "Destroy it", @thing_path + comment_path, :method => 'delete'
			= link_to "Edit it", edit_comment_path
