- form_for @entry, :url => @path, :html => {:multipart => true} do |f|
	%p 
		= f.error_messages
	%p
		= f.label :title
		%br
		= f.text_field :title
	%p
		= f.label :submission
		= f.file_field :submission
	%p
		= f.hidden_field "user_id", {:value => current_user.id}
	%p
		= f.submit "Create"
	  
