.span-22.prepend-1.append-1.last
	%h2
		Entries for 
		= link_to @req.title, request_path(@req)
	%table
		%tr
			%th Entry Title
			%th User
			%th Image
		- @entries.each do |c|		
			%tr
				%td
					= link_to c.title, request_path(c.request_id) + entry_path(c)
				%td 
					= link_to c.user.login, user_path(c.user)
				%td
					= image_tag c.submission.url(:thumb)
	%p
		= link_to "New Entry", @path
	
		
.clear