.span-22.prepend-1.append-1.last
	%p
		Entry
		%b 
			= @entry.title 
		for request 
		= link_to @entry.request.title, request_path(@entry.request)
	%p
		= image_tag @entry.submission.url(:large)
	%p
		See other
		= link_to "entries", request_entries_path
	- if current_user.id == @entry.user_id or current_user.admin
		%p
			= link_to "Destroy it", request_path(@entry.request_id) + entry_path, :method => 'delete'
			|
			= link_to "Edit it", edit_entry_path

