.grid_12.content
	%p
		Entry
		%b 
			= @entry.title 
		for request 
		%b 
			= @entry.request.title
	%p
		= image_tag @entry.submission.url(:thumb)
	%p
		= link_to "Destroy it", request_path(@entry.request_id) + entry_path, :method => 'delete'
		|
		= link_to "Edit it", edit_entry_path

.clear