.span-22.prepend-1.append-1.last
	- if @entry.winner
		- word = "<font style='text-decoration:underline'>Winner</font>"
	- else
		- word = "Request"
	%h2
		= word
		%b 
			= @entry.title 
		for request 
		= link_to @entry.request.title, request_path(@entry.request)
	%p
		= image_tag @entry.submission.url(:large)
.span-22.prepend-1.append-1.last
	%p
		See other
		= link_to "entries", request_entries_path
	-if (@entry.request.user_id == current_user.id or current_user.admin) && @entry.request.open
		- form_tag :controller => 'winners', :action => 'declare_winner', :method => 'post' do
			= hidden_field_tag "entry_id", @entry.id
			%h4 
				Declare this a winner |
				= submit_tag "Submit"
	- if current_user.id == @entry.user_id or current_user.admin
		%p
			= link_to "Destroy it", request_path(@entry.request_id) + entry_path, :method => 'delete'
			|
			= link_to "Edit it", edit_entry_path

