.span-22.prepend-1.append-1.last
	%h2
		= @user.login
	%p
		= image_tag @user.avatar.url(:medium)
	%p
		= link_to 'Edit Account Settings', edit_user_path(@user)
	%p
		Your Total Karma:
		= @user.karma_total
	%p
		Your Current Karma (currency):
		= @user.karma_current
