- form_for @req do |f|
	%p 
		= f.error_messages
	%p
		= f.label :title
		%br
		= f.text_field :title
	%p
		= f.label :description
		%br
		= f.text_area :description
	%p
		= f.label :category
		%br
		= select("request", "category_id", Category.all.collect {|p| [ p.name, p.id ] }, {:include_blank => 'None'})
	%p
		= f.label :karma
		%br
		= select "request", "karma", (5..100).to_a
	%p
		= datetime_select "request", "end", :default => 3.days.from_now
	%p
		= f.hidden_field "user_id", {:value => current_user.id}
	%p
		= f.submit "Create"
	  
