.span-22.prepend-1.append-1.last
	%p
		%table
			%tr.underline.black_links 
				%th Name
				%th 
					= link_to_remote 'Category', {:url => {:controller => 'requests', :action => 'ajaxy_table', :categories => @selected_categories, :sort => "category"} }, :href => url_for(:action => 'index', :controller => 'requests', :categories => @selected_categories, :sort => "category")
				%th 
					= link_to_remote 'Karma', {:url => {:controller => 'requests', :action => 'ajaxy_table', :categories => @selected_categories, :sort => "karma"} }, :href => url_for(:action => 'index', :controller => 'requests', :categories => @selected_categories, :sort => "karma")
				%th 
					= link_to_remote 'User', {:url => {:controller => 'requests', :action => 'ajaxy_table', :categories => @selected_categories, :sort => "user"} }, :href => url_for(:action => 'index', :controller => 'requests', :categories => @selected_categories, :sort => "user")
				%th 
					= link_to_remote 'Date Submitted', {:url => {:controller => 'requests', :action => 'ajaxy_table', :categories => @selected_categories, :sort => "time"} }, :href => url_for(:action => 'index', :controller => 'requests', :categories => @selected_categories, :sort => "time")
			- count = 0
			- @reqs.each do |r|
				- count = count + 1
				- color = "#C1C2E4"
				- color = "white" unless count % 2 == 0
				%tr{:style => "background-color:#{color}"}
					%td
						= link_to r.title, request_path(r) 
					%td
						= Category.find(r.category_id).name
					%td
						= r.karma
					%td
						= link_to r.user.login, user_path(r.user) unless r.user == nil
					%td
						= r.submitted_long_ago