.grid_12.content
	%h1
		= link_to "New Request", new_request_path
	%ul
		- @reqs.each do |r|
			%li
				= link_to r.title, request_path(r) 
				|
				= Category.find(r.category_id).name
				|
				= r.submitted_long_ago
		
	- form_tag filter_by_category_requests_path do			
		%ul
			-@categories.each do |category|
				= category_list_item(category, @selected_categor)
			
		= submit_tag 'Filter'
	
			
	
		
.clear