.span-17.prepend-1
	%h2
		List of Open Requests
.span-5.append-1.last
	%h2
		=link_to 'Refresh Filter', requests_path
		
.span-22.append-1.prepend-1.last
	- form_tag requests_path, :method => 'get' do
		%ul
			-@categories.each do |category|
				= category_list_item(category, @selected_categories)
		= submit_tag 'Filter'
	%hr
.span-11.prepend-1
	%p
		= link_to "New Request", new_request_path
.span-11.append-1.align_right.last
	%p
		= will_paginate @reqs
#ajaxy_table
	= render :partial => 'table'
