.span-22.prepend-1.append-1.last
	%h2
		List of Open Requests
		=link_to '[Refresh Filter]', requests_path
		
	- form_tag filter_by_category_requests_path, :method => 'get' do			
		%ul
			-@categories.each do |category|
				= category_list_item(category, @selected_categories)
			= submit_tag 'Filter'			
	%table
		%tr.underline 
			%th Name
			%th Category
			%th Karma
			%th User
			%th Date Submitted
		- count = 0
		- @reqs.each do |r|
			- count = count + 1
			- color = "#7D90A5"
			- color = "white" unless count % 2 == 0
			%tr{:style => "background-color:#{color}"}
				%td
					= link_to r.title, request_path(r) 
				%td
					= Category.find(r.category_id).name
				%td
					= r.karma
				%td
					= r.user.login unless r.user == nil
				%td
					= r.submitted_long_ago
	%p
		= link_to "New Request", new_request_path
			
