.span-22.prepend-1.append-1.last
	%h2
		= @req.title
	%hr
.span-5.prepend-1
	%h3
		Award:
		= "#{@req.karma}&sect;"
.span-6
	%h3
		Posted by
		= link_to "[#{@req.user.login}]", user_path(@req.user)
.span-12.last
	%h3
		Ends:
		= @req.end.strftime("%B %d %H:%M %p")
.span-22.prepend-1.append-1.last
	%p
		= @req.description
	%p
		= link_to "Comments", request_comments_path(@req)
		|
		= link_to "Entries", request_entries_path(@req)
		
	- if current_user and current_user.admin
		%p
			= link_to "Destroy it", request_path, :method => 'delete'
			|
			= link_to "Edit it", edit_request_path(@req)
.span-22.prepend-1.append-1.center.last
	- if not @req.open
		%hr
		%h4 
			This Request is Closed. See the
			= link_to "Winner", entry_path(@req.winner.entry_id)
			
		%hr
		
