%html
	%head
		%link{:href => "/favicon.ico"}
		= stylesheet_link_tag 'ie'
		= stylesheet_link_tag 'print'
		= stylesheet_link_tag 'screen'
		= stylesheet_link_tag 'style'
		= javascript_include_tag 'prototype'
		%title BijectKarma
	%body
		.container
			.span-24.onback
				.span-12
					%br
					%h1 
						= link_to 'BijectKarma', root_path
				.span-12.align_right.onback.last
					%p
						= render :partial => 'users/user_bar'
			.span-23.prepend-1.last
			.span-24.center.last
				%p.green.flash 
					= flash[:notice]
				%p.red.flash
					= flash[:error]
			.span-24.last
			= yield
			.span-22.prepend-1.append-1.last
				%hr
				%p.center	
					= link_to 'Contact' 
					| 
					=link_to 'About', about_path 
					| Copyright 2010
	