%html
	%head
		%link{:href => "/favicon.ico"}
		= stylesheet_link_tag 'ie'
		= stylesheet_link_tag 'print'
		= stylesheet_link_tag 'screen'
		= stylesheet_link_tag 'style'
		= javascript_include_tag 'prototype'
		%title BijectKarma
	%body
		.container
			.span-24.onback
				.span-12
					%a{:href => root_path}
						= image_tag '/logo.png' 
				.span-12.align_right.onback.last
					%p
						= render :partial => 'users/user_bar'
			.span-24.center.last
				%p.grey.flash 
					= flash[:notice]
				%p.red.flash
					= flash[:error]
			.span-24.last
			= yield
			.span-22.prepend-1.append-1.last
				%hr
				%p.center	
					= link_to 'Contact' 
					| 
					=link_to 'About', about_path 
		.copyright Copyright 2010 BijectKarma
	
