%html
	%head
		= stylesheet_link_tag 'reset'
		= stylesheet_link_tag '960'
		= stylesheet_link_tag 'style'
	%body
		.container_12
			.grid_12.thirty5.signin
				%p 
					= render :partial => 'users/user_bar'
			.clear
			.grid_12.dark_head.sixty.big
				%h1 LogoHere
			.clear
			.grid_12.navigation.thirty
			.clear
			= yield
			.grid_12.content.sixty
				%p 
					= flash[:notice]
					= flash[:error]
			.grid_12.dark_head.sixty.footer
				%p Contact | About | Copyright 2007
			.clear
	