%html
	%head
		= stylesheet_link_tag 'ie'
		= stylesheet_link_tag 'print'
		= stylesheet_link_tag 'screen'
	%body
		.container
			.span-24.last
				%p
					= render :partial => 'users/user_bar'
			.clear
			.span-24.last
				%h1 
					= link_to 'LogoHere', root_path
			.span-24.last
			= yield
			.span-24.last
				%p 
					= flash[:notice]
					= flash[:error]
			.span-24.last
				%p Contact | About | Copyright 2007
			.clear
	